#DIV_connection_state {
    width: 350px;
    padding: 0.5em; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 10pt; 
    white-space: nowrap;
    border: 1px solid black;
    background-color: "#fff9a6";
}

#DIV_connection_state table {
    border: 1px solid gray;
    border-collapse: collapse;
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif; 
}

#DIV_connection_state table td {
    padding: 0.25em 0.5em;
    border-right: 1px solid #e0e0e0;
}

td.status {
    font-weight: bold;
    color: #666;
}

td.status.ok {
    color: green;
}

td.status.trial, td.status.demo {
    color: blue;
}

td.status.error {
    color: red;
}

